pkgbase = LDtk
	pkgdesc = Level Designer Toolkit: a 2D level editor
	pkgver = v0.5.0_beta
	pkgrel = 1
	url = https://deepnight.net/tools/ldtk-2d-level-editor/
	arch = any
	license = MIT
	makedepends = npm
	makedepends = haxe
	depends = electron
	replaces = LEd
	source = LDtk::git+https://github.com/deepnight/led.git#tag=v0.5.0-beta
	source = samples-dir.patch
	source = ldtk
	source = LDtk.desktop
	sha256sums = SKIP
	sha256sums = 0c4ff249d3ca26738ece8b9417ecffbfe318e7a5111078669d797e846e86a10c
	sha256sums = 8e482648c7f0cafee60c98c0d77d19be1369a273b69b146dc15f91cd989c8716
	sha256sums = a846ddb7ee95f65c4c51ba5206753baeac535961949253f9343ca188595eaf9f

pkgname = LDtk

