[Desktop Entry]

Type=Application
Version=1.0
Name=LDtk
Comment="2D level editor"
Exec=ldtk
Icon=/usr/share/ldtk/icon.png
Terminal=false
Categories=Development
